<h3 class="demo-panel-title">Enter your login information</h3>

<% if (message) { %>
<p><%= message %></p>
<% } %>
<form action="/login" method="post">
  <div class="clearfix">
    <label for="email">
      Email:
    </label>
    <input id="email" class="form-control width-300" type="text" name="email" value="<%= user && user.email || '' %>"/>
  </div>
  <div class="clearfix">
    <label for="password">
      Password:
    </label>
    <input id="password" class="form-control width-300" type="password" name="password" value="<%= user && user.password || '' %>"/>
  </div>
  <div class="row demo-row btn-bottom">
    <div class="col-xs-2">
      <button class="btn btn-block btn-lg btn-success">Login</button>
    </div>
  </div>
</form>