<form action="/users/create" method="post">
  <div>
    <label for="firstName">
      First Name:
    </label>
    <input id="firstName" type="text" name="firstName"/>
  </div>
  <div>
    <label for="lastName">
      Last Name:
    </label>
    <input id="lastName" type="text" name="lastName"/>
  </div>
  <div>
    <label for="email">
      Email:
    </label>
    <input id="email" type="email" name="email"/>
  </div>
  <div>
    <label for="organization">
      Organization:
    </label>
    <input id="organization" type="text" name="organization"/>
  </div>
  <button>Save</button>
</form>

<a href="/users">
  <button>Users</button>
</a>