<h3 class="demo-panel-title">Polling summery</h3>
<div class="chart float-left"></div>
<table class="tbl-custom poll-table float-right">
    <tr>
        <th>User</th>
        <th>Time</th>
        <th>Choice</th>
    </tr>
    <% polls.forEach(function (poll) { %>
    <tr>
        <td><%= poll.user.firstName %> <%= poll.user.lastName %></td>
        <td><%= poll.formattedTime || poll.time %></td>
        <td class="capitalize-font"><%= poll.choice %></td>
    </tr>
    <% }); %>
</table>
<div style="clear: both"></div>

<script>

  var width = 300,
      height = 300,
      radius = Math.min(width, height) / 2;

  var color = d3.scale.ordinal()
          .domain(['brazil', 'argentina', 'spain', 'italy', 'germany'])
          .range(["#f6e231", "#83abe3", "#f3c730", "#44933f", "#ce3c28"]);

  var arc = d3.svg.arc()
          .outerRadius(radius - 10)
          .innerRadius(0);

  var pie = d3.layout.pie()
          .sort(null)
          .value(function(d) { return d.count; });

  var svg = d3.select("div.chart").append("svg")
          .attr("width", width)
          .attr("height", height)
          .append("g")
          .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

  var data = '<%= JSON.stringify(pollChartData) || "{}" %>';

  data = JSON.parse(data.replace(/&quot;/g, "\""));

  data.forEach(function(d) {
    d.count = +d.count;
  });

  var g = svg.selectAll(".arc")
          .data(pie(data))
          .enter().append("g")
          .attr("class", "arc");

  g.append("path")
          .attr("d", arc)
          .style("fill", function(d) { return color(d.data._id); });

  g.append("text")
          .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
          .attr("dy", ".35em")
          .style("text-anchor", "middle")
          .attr("class", "capitalize-font")
          .text(function(d) { return d.data._id; });


</script>
