<h3 class="demo-panel-title">List of users</h3>
<table class="tbl-custom">
    <tr>
        <th>User</th>
        <th>Time</th>
        <th>Choice</th>
    </tr>
    <% polls.forEach(function (poll) { %>
    <tr>
        <td><%= poll.user.firstName %> <%= poll.user.lastName %></td>
        <td><%= poll.time %></td>
        <td><%= poll.choice %></td>
    </tr>
    <% }); %>
</table>
<div class="row demo-row btn-bottom">
    <div class="col-xs-2">
        <a href="/polls/new" class="btn btn-block btn-lg btn-success">New poll</a>
    </div>
</div>
