.header {
    padding: 0 25px 0 25px;
    background-color: #343434;
    color: #ededed;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.logo {
    padding-top: 15px;
    padding-bottom: 15px;
}
.header .float-right {
    float: right;
}
.clear {
    clear: both;
}
.tbl-custom {
    width: 100%;
}
.poll-table.tbl-custom {
    max-width: 620px;
}
.tbl-custom th {
    border-bottom: 1px solid #cdcdcd;
}
.poll-table th:first-child,
.poll-table td:first-child
{
    padding-right: 15px;
}
.poll-table th:last-child,
.poll-table td:last-child
{
    padding-left: 15px;
}
.tbl-custom td {
    border-bottom: 1px solid #efefef;
}
.icon-green {
    color: #e74c3c;
}
.icon-red {
    color: #1abc9c;
}
.profile span, .profile label {
    width: 150px;
    font-weight: bold;
    display: block;
    float: left;
}
.profile label {
    margin-bottom: 10px;
}
.btn-bottom {
    margin-top: 20px;
}
.row.margin-left-0 {
    margin-left: 0;
}
.btn button {
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    padding: 0;
    border: none;
    border-image-source: none;
    background-color: transparent;
}
.btn-default-settings button {
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    padding: 0;
    border: none;
    border-image-source: none;
    background-color: transparent;
}
.width-300 {
    width: 300px;
}
.adjust-margin-left {
    margin-left: 90px;
}
.capitalize-font {
    text-transform: capitalize
}
.width-10-per {
    width: 10%;
}
.width-20-per {
    width: 20%;
}
.width-77-per {
    width: 77%;
}
.width-87-per {
    width: 87%;
}
.width-67-per {
    width: 67%;
}
.nav li {
    display: inline-block;
}
.nav > li > a {
    padding: 20px 20px;
    color: #ababab;
}
.nav > li > a:hover {
    color: #232323;
    background-color: #efefef;
}
.project-title {
    padding-top: 20px;
}