<h2>Example App: Home</h2>

<% if (!currentUser) { %>
<h3 class="demo-panel-title">Please login</h3>
<div class="row demo-row btn-bottom">
  <div class="col-xs-2"><a href="/login" class="btn btn-block btn-lg btn-info">Login</a></div>
</div>
<h3 class="demo-panel-title">OR sign up !</h3>
<div class="row demo-row btn-bottom">
  <div class="col-xs-2"><a href="/users/new" class="btn btn-block btn-lg btn-success">Sign Up</a></div>
</div>
<% } else { %>
<h3 class="demo-panel-title">Choose an action from below !!</h3>
<% } %>